.cart-summary {
  position: absolute;
  top: 250px;
  left: 770px;
  width: 100%;
  justify-content: left;
  text-align: left;
  justify-self: left;
}

.summary-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-self: left;
  text-align: left;
}

.summary-btn {
  position: absolute;
  top: 316px;
  left: 761px;
  width: 100%;
}
