.cart-div {
  position: absolute;
  height: 56%;
}

.cart-cart {
  display: flex;
  position: relative;
  bottom: 20px;
  left: 761px;
  height: 358px;
  width: 200px;
  background-color: lightgrey;
  opacity: 90%;
}
