.container-slider {
  display: flex;
}

.move-div {
  display: inline-block;
  position: relative;
  bottom: 400px;
}

/* .xxx {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
} */
