* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
  height: 100px;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: black;
  padding: 1.8rem;
  display: block;
  text-decoration: none;
}

.cart-icon {
  display: flex;
  width: 20%;
  position: relative;
  left: 100px;
}

.cart {
  display: flex;
  position: relative;
  width: 25%;
  height: auto;
  cursor: pointer;
}
